    <footer class="border-top footer text-muted" style="position: absolute; bottom: 0px;">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - JAGC</p>
        </div>
    </footer>
