@{ ViewBag.Title = "JAGC IDP"; }



<div class="uk-container">
    <div class="uk-margin">
		<h2 class="uk-heading-medium">@ViewBag.Title</h2>
        <p class="uk-text-lead uk-text-meta">
            JAGC Test IDP <a class="uk-link uk-link-text" href="./Metadata">Metadata</a>
        </p>
    </div>
</div>